.container {
  height: calc(100vh - 64px - 68px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}