.container {
  display: flex;
  flex-direction: column;
  .title {
    display: flex;
    justify-content: space-between;
    .left {
      display: flex;
    }
    .right {
      display: flex;
    }
  }
  .button-container {
    display: flex;
    justify-content: space-between;
  }
}
